#main_header {
  color: white;
  font-size: 50px;
  margin: auto;
}



body {
  background-color: black;
}

#Ricardo_dance {
 height: 900px;
 widthL: 900px;
}

#Rick_dance {
 height: 900px;
 widthL: 900px;
}
